<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>La Boîte à outils de l’expérience Web</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/theme/{{theme}}.css">
		<style>
			h1{height: 1px !important;width: 1px !important;clip: rect(1px, 1px, 1px, 1px);overflow: hidden !important;position: absolute;margin: 0 !important;}
			.reveal h2 {font-weight:600; line-height:1.2;}
			.reveal p, .reveal li {margin-bottom:1.2em;}
			.reveal ul {margin: 0 0 0 25%;}
			#wet {width:50%; height:50%; margin:2em 0; }
			#wcag, #html5 {margin: 1em 0;}
			#wcag {width:25%;}
			#html5 {width:25%; max-height:50%;}
			#independence ~ svg {height:3em;max-width:50%; margin:1em;}
		</style>
	</head>
	<body>
		<h1>La Boîte à outils de l’expérience Web</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_quest_ce_que}}
				{{>03_accessible}}
				{{>04_facile_emploi}}
				{{>05_interoperable}}
				{{>06_optimise_mobile}}
				{{>07_presentation_personalisable}}
				{{>08_modularite}}
				{{>09_indepedence_plateforme}}
				{{>10_quoi_de_neuf}}
			</div>
		</div>
		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.min.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>
